lxml
requests
pandas
xlrd
xlsxwriter
SPARQLWrapper
sickle
pymods
#polymatheia
scipy
seaborn
beautifulsoup4
nltk
voila
plotly
folium
streamlit_folium
pydeck
#tweepy
#altair
wget
#essentia braucht Python 3.11
#essentia
wordcloud
#gensim
#spacy
#pyLDAvis
tables
pyarrow
matplotlib
jupyterhub
jupyterlab
jupyter-ai
jupyter-ai-magics
jupyterlab-language-pack-de-de
jupyter_scheduler
huggingface_hub
PyPDF2
langchain-openai
geopy
numpy
